/* Mobile Devices (portrait and landscape) 767px */
@media only screen and (max-width: 767px) {
  /* .main {
  } */
  .formDiv {
    position: fixed;
    top: 0;
    height: 12rem;
    width: 100%;
  }
  .listDiv {
    margin-top: 12rem;
  }
}
/* Desktops and larger screens 768px */
@media only screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .formDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 50vw;
    grid-column: 1/2;
  }
  .listDiv {
    display: grid;
    grid-column: 2/3;
  }
}
.item {
  height: 4rem;
  margin-bottom: 1rem;
}
